.custom-select-container,
.custom-select-value, 
.custom-select-options, 
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  display: inline-block;
  position: relative;
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border: 1px solid black;
  padding: .25rem .5rem;
  cursor: pointer;
  user-select: none;
}

.custom-select-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  width: 100%;
  border-top: none;
  max-height: 200px;
  overflow-y: auto; 
}